*{
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background: #EEEFF1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

a{
    text-decoration: none;
}

.header-container{
    display: flex;
    margin-top: 40px;
}

.logo{
    margin-right: auto;
}

.header-logo-img{
    width: 126px;
    height: 50px;
}

.nav-list{
    display: flex;
    color: #1B1B1D;
    font-size: 15px;
    font-family: Jost;
    font-weight: 500;
    align-items: center;
    float: left;
}

.nav-list-item:not(:last-child){
    margin-right: 30px;
}

.nav-link{
    color: #1B1B1D;
}

.basket-img{
    max-width: 56px;
    max-height: 56px;
    background-color: #FFF;
    border-radius: 50%;
    padding: 16px;
    align-items: center;
}

.nav-link-btn{
    padding: 16px 30px;
    border-radius: 63px;
    background: #1B1B1D;
    box-shadow: 0px 30px 60px 0px rgba(163, 168, 178, 0.15);
    color: #FFF;
    font-size: 15px;
    font-family: Jost;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
}

.menu{
    display: none;
}

/*====================================================================================================================*/

.section-hero-container{
    display: flex;
}

.hero-heading-img{
    display: flex;
    max-width: 597px;
    flex-direction: column;
}

.hero-heading{
    color: #1B1B1D;
    font-size: 124px;
    font-family: Jost;
    font-weight: 800;
    line-height: 140px;
    margin-bottom: 0px;
}

.hero-img-heading{
    max-width: 73px;
    max-height: 58px;
    position: relative;
    top: -85px;
    left: 360px;
}

.hero-description{
    color: #64646A;
    font-size: 24px;
    font-family: Jost;
    margin-top: 0px;
    max-width: 500px;
}

.hero-btns{
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 60px;
}

.hero-download-btn{
    border-radius: 126px;
    background: #1B1B1D;
    margin-right: 30px;
    padding: 20px 40px;
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.hero-shop-btn{
    color: #1B1B1D;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
}

.hero-imgs{
    margin-top: 80px;
}

.countrywide-img{
    width: 144px;
    height: 113px;
    position: relative;
    right: -500px;
    top: 45px;
    z-index: 2;
}

.frame-img{
    position: absolute;
    top: 315px;
    right: 190px;
    z-index: 1;
}

.frame-img1{
    position: absolute;
    top: 350px;
    right: 200px;
    z-index: 1;
}

.hero-rating{
    border-radius: 24px;
    background: #FFF;
    max-width: 300px;
    position: relative;
    top: -435px;
    right: -20px;
    z-index: 3;
}

.hero-rating-star{
    padding-top: 20px;
}

.hero-rating-star:first-child{
    padding-left: 24px;
}

.hero-rating-star:last-child{
    padding-right: 76px;
}

.hero-rating-description{
    color: #64646A;
    font-size: 19px;
    font-family: Jost;
    line-height: 26px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 20px;
}

.allowishus-img{
    position: relative;
    top: -110px;
    z-index: 1;
}

/*====================================================================================================================*/

.section-explore{
    background: linear-gradient(135deg, #FFF 0%, #FFF 0%, rgba(243, 244, 245, 0.20) 11.74%, #F3F4F5 27.92%, rgba(243, 244, 245, 0.00) 44.79%, rgba(243, 244, 245, 0.68) 60.42%, #F3F4F5 79.17%, #FFF 100%);
}

.explore-heading-desc{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}

.explore-heading{
    color: #1B1B1D;
    font-size: 64px;
    font-family: Jost;
    font-weight: 800;
    line-height: 70px;
    margin: 0px;
}

.explore-description{
    color: #64646A;
    font-size: 24px;
    font-family: Jost;
    width: 604px;
}

.explore-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    height: 540px;
}

.explore-list-item{
    border-radius: 24px;
    background: linear-gradient(135deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 30px 60px 0px rgba(163, 168, 178, 0.15);
    flex: 1 1 25%;
}

.list-item-heading{
    color: #1B1B1D;
    font-size: 36px;
    font-family: Jost;
    font-weight: 600;
    margin-left: 40px;
}

.list-item-description{
    color: #64646A;
    font-size: 24px;
    font-family: Jost;
    margin-left: 40px;
}

.list-item-img1{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.list-item-img2{
    margin-top: 50px;
    margin-left: 130px;
    margin-bottom: 50px;
}

.list-item-order{
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 126px;
    background: #1B1B1D;
    margin-left: 70px;
}

.list-item-menu{
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    padding: 15px 55px;
    border-radius: 126px;
    background: #1B1B1D;
    margin-left: 80px;
}

.more{
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 70px;
    padding: 15px 45px;
    border-radius: 126px;
    background: #1B1B1D;
}

/*==========================================================*/


.section-order-container{
    display: flex;
    margin-top: 190px;
}

.order-heading{
    color: #1B1B1D;
    font-size: 64px;
    font-family: Jost;
    font-weight: 800;
    line-height: 70px;
    margin-top: 80px;
    width: 512px;
}

.order-description{
    color: #64646A;
    font-size: 24px;
    font-family: Jost;
    width: 512px;
    margin-bottom: 60px;
}

.section-order-btn{
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 126px;
    background: #1B1B1D;
}

.order-img1{
    position: absolute;
    top: 0px;
    right: -100px;
}

.order-img{
    max-width: 700px;
}

/*====================================================================================================================*/

.section-best-selling {
    overflow-x: hidden;
}

.best-selling-container{
    margin-top: 170px;
    position: relative;
}

.best-selling-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 178px;
}

.best-selling-heading{
    color: #1B1B1D;
    text-align: center;
    font-size: 64px;
    font-family: Jost;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 0px;
}

.best-selling-description{
    color: #64646A;
    text-align: center;
    font-size: 24px;
    font-family: Jost;
    width: 604px;
}

.best-selling-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.best-list-item {
    border-radius: 24px;
    background: linear-gradient(135deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 20px 60px 0px rgba(163, 168, 178, 0.15);
    flex: 1 1 25%;
}

.img-selling-head{
    display: flex;
    position: relative;
}

.info{
    margin-top: 10px;
    margin-left: 202px;
}

.selling{
    color: #64646A;
    font-size: 20px;
    font-family: Jost;
    font-weight: 500;
    line-height: 28px;
}

.item-heading{
    color: #1B1B1D;
    font-size: 40px;
    font-family: Jost;
    font-weight: 600;
    line-height: 44px;
    margin-top: 0px;
}

.item-heading:last-child{
    width: 122px;
}

.best-selling-img1{
    position: absolute;
    top: -75px;
}

.list-item-description{
    margin-right: 36px;
    margin-top: 50px;
}

.item-price-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35px;
    margin-right: 30px;
}

.list-item-price{
    color: #1B1B1D;
    font-size: 30px;
    font-family: Jost;
    font-weight: 500;
    line-height: 28px;
    margin-right: 63px;
}

.order-now-btn{
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 126px;
    background: #1B1B1D;
}

/*======================================================================================================================*/


.section-instant-container{
    display: flex;
}


.instant-heading{
    color: #1B1B1D;
    font-size: 64px;
    font-family: Jost;
    font-weight: 800;
    line-height: 70px;
}

.instant-description{
    color: #64646A;
    font-size: 24px;
    font-family: Jost;
    max-width: 530px;
}

.download-btn{
    padding: 25px 40px;
}

.content{
    position: relative;
    top: -300px;
    left: 100px;
}

.content-ellipse{
    position: relative;
    top: -1100px;
    left: 700px;
}

.content-mobile-img1{
    position: relative;
    transform: rotate(-15deg);
    right: -100px;
    top: -850px;
}

.content-mobile-img2{
    position: relative;
    top: -1700px;
    left: 815px ;
}

.instant-img{
    position: relative;
    top: 100px;
}

/*====================================================================================================================*/

.section-customers-container{
    overflow: hidden;
    height: 1300px ;
}

.customer-img{
    position: relative;
    top: -200px;
}

.customer-list{
    display: flex;
    justify-content: space-between;
}

.position1{
    position: relative;
    left: -15.4%;
    top: -450px;
}

.position2{
    position: relative;
    top: -450px;
    left: -420px;
}

.customer-opinion{
    position: relative;
    right: -850px;
    top: -1200px;
}

.customer-list-item{
    border-radius: 16px;
    background: linear-gradient(135deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 20px 60px 0px rgba(163, 168, 178, 0.15);
    max-width: 468px;
}

.qaz__img{
    position: relative;
    left: 185px;
}

.customer-item-name{
    color: #1B1B1D;
    font-size: 24px;
    font-family: Jost;
    font-weight: 600;
    line-height: 30px;
    margin-right: 16px;
    margin-left: 40px;
}

.customer-item-description{
    color: #1B1B1D;
    font-size: 19px;
    font-family: Jost;
    line-height: 30px;
    margin-left: 40px;
    margin-right: 41px;
    padding-bottom: 42px;
}

.customer-name-star{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customer-item-star{
    width: 24px;
    height: 24px;
}

.rating-heading{
    color: #1B1B1D;
    font-size: 64px;
    font-family: Jost;
    font-weight: 800;
    line-height: 70px;
    max-width: 400px;
}

.rating-reviews{
    color: #64646A;
    font-size: 20px;
    font-family: Jost;
    line-height: 28px;
    margin-top: 0px;
}


.rating-num{
    color: #1B1B1D;
    font-size: 40px;
    font-family: Jost;
    font-weight: 600;
    line-height: 40px;
    margin-right: 24px;
}

.rating-img{
    position: relative;
    right: 0px;
}

.rating{
    display: flex;
}

.rating-star-review{
    margin-top: 30px;
}

.customers-item{
    position: relative;
    left: -200px;
}
/*====================================================================================================================*/

.footer-container{
    display: flex;
}

.footer-paragraph{
    color: #64646A;
    font-size: 30px;
    line-height: 40px;
    font-family: Jost;
    margin-top: 70px;
}

.footer-heading{
    color: #1B1B1D;
    font-size: 40px;
    font-family: Jost;
    font-weight: 800;
    line-height: 50px;
}

.find{
    display: flex;
    align-items: center;
}

.find-allowishus{
    margin-top: 108px;
}

.find-btn{
    color:#1B1B1D;
    font-size: 18px;
    font-family: Jost;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
}

.contact{
    margin-left: 130px
}

.social-media-con{
    margin-right: 193px;
}


.social-media{
    display: flex;
    align-items: center;
}

.social-media-logos{
    display: flex;
}

.social-media-logo{
    padding: 16px;
    border-radius: 60px;
    background: #FFF;
    box-shadow: 0px 12px 30px 0px rgba(205, 209, 214, 0.28);
    margin-right: 24px;
    margin-bottom: 30px;
}

.find-us{
    margin-top: 60px;
}

.input-btn{
    display: flex;
    flex-direction: column;
    max-width: 413px;
    margin-top: 50px;
}

.email-input{
    color: #64646A;
    font-size: 22px;
    font-family: Jost;
    line-height: 30px;
    border-radius: 65px;
    background: #FFF;
    box-shadow: 0px 12px 30px 0px rgba(205, 209, 214, 0.28);
    padding: 20px 30px;
    border: none;
}

.subscribe{
    color: #FFF;
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 126px;
    background: #1B1B1D;
    max-width: 173px;
}

.hr{
    padding-top: 50px;
}

.copyright{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.copyright-gray{
    color: #64646A;
    font-size: 22px;
    font-family: Jost;
    line-height: 30px;
    margin-right: 5px;
}

.copyright-black{
    color: rgba(27,27,29,1 );
    font-size: 22px;
    font-family: Jost;
    line-height: 30px;
}

.policy{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: Jost;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 530px;
}

.terms{
    color:#64646A;
}

.space{
    margin-left: 5px;
    margin-right: 5px;
}

.email-num{
    margin-top: 0px;
}

.bl{
    display: flex;
    align-items: center;
}

.qaz__img2{
    position: relative;
    left: 0px;
}

@media only screen and (max-width: 415px) {

    .container{
        width: 396px;
        margin: 0 auto;
    }

    .nav-list{
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        left: 85%;
        top: 40px;
        width: 50px;
    }

    .section-hero-container{
        display: block;
    }

    .logo{
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 30px;
    }

    .hero-heading{
        font-size: 80px;
        line-height: 100px;
        margin-left: 10px;
    }

    .hero-img-heading{
        position: relative;
        left: 245px;
        top: -70px;
        width: 60px;
    }

    .hero-description{
        width: 350px;
        margin-left: 10px;
    }

    .allowishus-img{
        width: 350px;
        margin-top: 100px;
    }

    .hero-rating{
        position: relative;
        top: -80px;
        margin-left: 17px;
    }

    .countrywide-img{
        position: absolute;
        top: 700px;
        left: 65%;
        width: 70px;
        height: 70px;
    }

    .section-explore-container{
        height: 2100px;
    }

    .explore-heading-desc{
        display: block;
        padding-top: 20px;
    }

    .explore-heading{
        font-size: 50px;
        width: 65%;
        margin-left: 75px;
    }

    .explore-description{
        width: 65%;
        margin-left: 75px;
    }

    .explore-list{
        display: block;
    }

    .section-explore{
        background: #EEEFF1;
        height: 2100px;
    }

    .explore-list-item{
        width: 95%;
        margin-left: 5px;
        height: 500px;
    }

    .list-item-heading{
        padding-top: 20px;
        text-align: center;
        margin-left: 0px;
    }

    .list-item-description{
        text-align: center;
    }

    .section-order-container{
        margin-top: 0px;
        display: block;
        height: 780px;
    }

    .order-img{
        width: 400px;
    }

    .order-head-desc{
        width: 70%;
        margin-left: 30px;
    }

    .order-description{
        width: 300px;
    }

    .order-heading{
        width: 300px;
        font-size: 40px;
        line-height: 50px;
    }

    .order-img1{
        display: none;
    }

    .section-order{
        height: 800px;
    }

    .best-selling-container{
        margin-top: 50px;
    }

    .wd{
        max-width: 396px;
    }

    .best-selling-desc{
        width: 80%;
        text-align: center;
        margin-left: 50px;
    }

    .best-selling-list{
        display: block;
    }

    .best-list-item{
        margin-bottom: 80px;
        width: 95%;
    }

    .best-selling-description{
        text-align: center;
        width: 375px;
    }

    .section-best-selling{
        width: 141%;
    }

    .order-now-btn{
        font-size: 15px;
    }

    .instant-img{
        display: none;
    }

    .section-instant-container{
        height: 700px;
    }

    .content{
        position: static;
        width: 80%;
        margin-left: 40px;
    }

    .instant-heading{
        font-size: 50px;
        text-align: center;
    }

    .instant-description{
        margin-left: 15px;
    }

    .download-btn{
        margin-left: 10px;
    }

    .content-img{
        display: none;
    }

    .content-mobile-img2{
        width: 200px;
        position: static;
    }

    .section-customers{
        overflow-x: visible;
    }

    .section-customers-container{
        height: 1900px;
    }

    .customer-list{
        display: block;
    }



    .customer-list-item{
        position: relative;
        left: 0px;
        width: 95%;
    }

    .customer-item-name{
        margin-left: 20px;
    }

    .customer-item-description{
        margin-left: 20px;
    }

    .qaz__img{
        position: relative;
        left: 0px;
        width: 380px;
    }

    .footer-container{
        display: block;
    }

    .logo-locations{
        text-align: center;
    }

    .footer-img{
        margin-right: 30px;
    }
    .footer-paragraph{
        width: 250px;
        margin-left: 75px;
    }

    .footer-heading{
        width: 300px;
        margin-left: 50px;
        text-align: center;
    }

    .contact{
        margin-left: 0px;
    }

    .find-btn{
        margin-left: 100px;
    }

    .social-media{
        margin-left: 20px;
    }

    .email-num{
        margin-left: 0px;
    }

    .social-media-con{
        width: 350px;
    }

    .social-media-logos{
        margin-left: 20px;
    }

    .input-btn{
        width: 300px;
        margin-left: 50px;
    }

    .copyright{
        display: block;
    }

    .policy{
        margin-left: 0px;
        margin-top: 0px;
    }

    .copyright-gray{
        margin-top: 0px;
    }

    .bl{
        display: block;
    }

    .copyright-black{
        margin-bottom: 0px;
    }
}
